body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  /* Center vertically and horizontally */
  padding: 5px;
  background-color: rgb(199, 179, 1);
  width: 350px;
}
